.hero {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(8, 0, 58, 0.7), rgba(8, 0, 58, 0.7)), url('../../assets/hero.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .hero-text{
    text-align: center;
    max-width: 800px;
  }
  .hero-text h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }
  
  .hero-text p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  .btn {
    background-color: #0077b6;
    color: #fff;
    padding: 12px 24px;
    font-size: 1rem;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: background-color 0.3s ease;
    display: inline-block;
  }
  
  .btn:hover {
    background-color: #005a8c;
  }